.header-wrapper {
    font-size: 16px;
    padding: 16px;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0,50,100,0.14),0 0.1875rem 0.25rem 0 rgba(0,50,100,0.12),0 0.0625rem 0.3125rem 0 rgba(0,50,100,0.2) !important;
    z-index: 100;
}